.categories {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories li {
    list-style-type: none;
    margin: 20px;
}

.category{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px; 
}

.category:hover{
    text-decoration: none;
    color: blue;
    background-color:  rgb(240, 239, 239);;
}

