
.listing{
    display: block;
    width: 80%;
    margin: auto;
    text-decoration: none;
    color: black;

    .title-price{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-size: 20px;
            font-weight: 600;
        }
    }
}
 
