$padding-ref: 20px;
$lightgray: lightgray;
$verylightgray: rgb(240, 239, 239);

.listing{
    display: block;
    width: 80%;
    margin: $padding-ref auto;
    text-decoration: none;
    color: black;
    border: solid 1px $lightgray;
    border-radius: 10px;

    &:hover{
        box-shadow: 0 0 0.5em gray;
        text-decoration: none;
    }

    .title-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $verylightgray;
        border-bottom: solid 1px $lightgray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: $padding-ref;

        p{
            font-size: 20px;
            font-weight: 600;
        }
    }

    .photo-additional-infos{
        display: flex;
        justify-content: space-between;
        padding: $padding-ref;

        img{
            width: 50%;
        }

        p{
            color: gray;
        }
    }
}
 
.footer{ 
    width: 80%;
    margin: calc(2*$padding-ref) auto; 

    textarea{
        width: 100%;
        border: none;
        border-bottom: solid 1px;

        &:focus{
            border:solid 1px rgb(25, 176, 247); 
        }
    }

    .comment{ 
        padding: $padding-ref 0;
        border-bottom: 1px solid $lightgray;
        font-size: 14px;

        span{
            color: gray; 
            font-size: 12px;
        }
    }
}
