{% extends "auctions/layout.html" %}
{%load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css'%}">
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %} 
    <a href="/listing/{{listing.id}}" class="listing">
        <div class="title-price">            
            <p>{{listing.title}}</p>
            <p>{{listing.price}} eur</p>
        </div>
        <div class="photo-additional-infos">
            <div class="additional-infos">
                <p><strong>Description:</strong> {{listing.description}}</p>
                <p><strong>Category:</strong> {{listing.category}}</p>
                <p><strong>Created at:</strong> {{listing.created_at}}</p>
                <p><strong>Creator :</strong> {{listing.creator}}</p>
            </div>
            {% if listing.url %}
                <img src="{{listing.url}}" alt="Image de la vente">
            {% endif %}
        </div>
    </a>
    {% endfor %}
{% endblock %}