{% extends "auctions/layout.html" %}
{%load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css'%}">
    <link rel="stylesheet" href="{% static 'auctions/bidform.css'%}">
{% endblock %}

{% block body %}
    {% if not listing.winner %}
        <div class="listing">
            <div class="title-price">            
                <p>{{listing.title}}</p>
                {% if bidnumber == 0 %}
                    <p>{{listing.price}} eur</p>
                {% else %}
                    <p>{{bid.price}} eur</p>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div class = "form">
                    <div class="bid">
                        {% if bidnumber == 0 %}
                            <p>This is the initial price.</p>
                        {% elif bidnumber == 1 %}
                            <p>There is {{bidnumber}} bid.</p>
                        {% else %}
                            <p>There are {{bidnumber}} bids.</p>
                        {% endif %}
                        <form action="/listing/{{listing.id}}/submitbid" method="post">
                            {% csrf_token %}
                            <input type="text" name="bid" id="bid" class="bidinput">
                            <input type="submit" value="Place bid">
                        </form>
                        {% if message %}
                            <p class="message">{{message}}</p>
                        {% endif %}
                    </div>
                    <form action="/toggletowatchlist/{{listing.id}}" method="get">
                        {% if userisfollower %}
                            <input type="submit" value="Remove from my watchlist">
                        {% else %}
                            <input type="submit" value="Add to my watchlist">
                        {% endif %}
                    </form>
                    {% if useriscreator %}
                        <form action="/listing/{{listing.id}}/deletelisting" method="get">
                            <input type="submit" value="Close auction">
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            <div class="photo-additional-infos">
                <div class="additional-infos">
                    <p><strong>Description:</strong> {{listing.description}}</p>
                    <p><strong>Category:</strong> {{listing.category}}</p>
                    <p><strong>Created at:</strong> {{listing.created_at}}</p>
                    <p><strong>Creator :</strong> {{listing.creator}}</p>
                </div>
                {% if listing.url %}
                    <img src="{{listing.url}}" alt="Image de la vente">
                {% endif %}
            </div>
        </div>
        <footer class="footer">
            <form action="/listing/{{listing.id}}/savecomment" method="post">
                {% csrf_token%}
                <textarea name="text" placeholder="Enter your comment here"></textarea>
                <input type="submit" value="Send">
            </form>
            {% for comment in comments %}
                <div class="comment">
                    <p><strong>{{comment.writer}} </strong><span> the {{comment.created_at}}</span></p> 
                    <p>{{comment.text}}</p>
                </div>
            {% endfor %}
        </footer>
    {% elif useriswinner %}
        <p> Congratulations! You won this auction.</p>
    {% else %}
        <p>The auction has been closed</p>
    {% endif %}



    <!--<h1>Listing : {{listing.title}}</h1>
    {% if not listing.winner %}
        {% if user.is_authenticated %}
            <form action="/toggletowatchlist/{{listing.id}}" method="get">
                {% if userisfollower %}
                    <input type="submit" value="Remove from my watchlist">
                {% else %}
                    <input type="submit" value="Add to my watchlist">
                {% endif %}
            </form>
        {% endif %}
        <img src="{{listing.url}}" alt="image of the listing">
        <p>{{listing.description}}</p>
        <h2>{{bid.price}}eur</h2>
        {% if user.is_authenticated %}
            {% if message %}
                <p>{{message}}</p>
            {% endif %}
            {% if bidnumber == 1 %}
                <p>This is the initial bid.</p>
            {% else %}
                <p>There are {{bidnumber}} bids.</p>
            {% endif %}
            <form action="/listing/{{listing.id}}/submitbid" method="post">
                {% csrf_token %}
                <input type="text" name="bid" id="bid">
                <input type="submit" placeholder="Place bid">
            </form>
        {% endif %}
        <h2>Details</h2>
        <ul>
            <li>Listed by : USER</li>
            <li>Category : {{listing.category}}</li>
        </ul>
        {% if useriscreator %}
            <form action="/listing/{{listing.id}}/deletelisting" method="get">
                <input type="submit">
            </form>
        {% endif %}
    {% elif useriswinner %}
        <p> Congratulations! You won this auction.</p>
    {% else %}
        <p>The auction has been closed</p>
    {% endif %}-->


{% endblock %}