{% extends "auctions/layout.html" %}

{% block body %}
    <form action="newlisting" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="Initial price">
        <input type="url" name="url" placeholder="url">
        <input type="text" name="category" placeholder="category">
        <input type="submit">
    </form>
{% endblock %}