{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My watchlist</h2>

    {% for listing in watchlistings %}
    <a href="/listing/{{listing.id}}">
        <div class="title-price">            
            <p>{{listing.title}}</p>
            <p>{{listing.price}} eur</p>
        </div>
        <div class="photo-additional-infos">
            <img src="{{listing.url}}" alt="Image de la vente">
            <div class="additional-infos">
                <p><strong>Description:</strong> {{listing.description}}</p>
                <p><strong>Category:</strong> {{listing.category}}</p>
                <p><strong>Created at:</strong>{{listing.created_at}} <strong>by</strong> {{listing.creator}}</p>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}